<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>WeUI</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.3/weui.min.css"/>
    <style type="text/css">
        .alert {
            text-align: center;
            margin: 5px 15px;
            padding: 5px;
            border: 1px solid transparent;
            border-radius: 5px
        }

        .alert-danger {
            background-color: #d9534f;
            border-color: transparent;
            color: #ffffff
        }
    </style>
</head>
<body>
{% block container %}{% endblock %}
</body>
</html>