{% extends 'wx/base.html' %}

{% block title %}登陆{% endblock %}

{% block extrahead %}
    <style type="text/css">
        .alert {
            text-align: center;
            margin: 5px 15px;
            padding: 5px;
            border: 1px solid transparent;
            border-radius: 5px
        }

        .alert-danger {
            background-color: #d9534f;
            border-color: transparent;
            color: #ffffff
        }
    </style>
{% endblock %}

{% block container %}
    <form action="{{ url }}" method="post">
        {% csrf_token %}
        <div class="weui-cells__title">与微信绑定</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">学号</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" name="xh" placeholder="请输入学号"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">密码</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="password" name="password" placeholder="请输入密码"/>
                </div>
            </div>
            <input type="hidden" name="next" value="{{ next }}"/>
        </div>
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="weui-btn-area">
            <button class="weui-btn weui-btn_primary">登陆</button>
        </div>
    </form>
{% endblock %}