{% extends 'wx/base.html' %}

{% block title %}登陆{% endblock %}

{% block container %}
    <form action="{{ url }}" method="post">
        {% csrf_token %}
        <div class="weui-cells__title">与微信绑定</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">学号</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" name="xh" placeholder="请输入学号"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">密码</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="password" name="password" placeholder="请输入密码"/>
                </div>
            </div>
            <input type="hidden" name="next" value="{{ next }}"/>
        </div>
        <div class="weui-btn-area">
            <button class="weui-btn weui-btn_primary">登陆</button>
        </div>
    </form>
{% endblock %}

{% block extrascript %}
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.4/weui.min.js"></script>
    <script type="text/javascript">
        {% if errMsg %}
            weui.topTips("{{ errMsg }}");
        {% endif %}
    </script>
{% endblock %}