{% extends 'wx/base.html' %}

{% block title %}文件列表{% endblock %}

{% block container %}
    {% if file_list %}
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__bd">
                {% for file in file_list %}
                    <a href="{{ file.file.url }}" class="weui-media-box weui-media-box_appmsg">
                        <div class="weui-media-box__bd">
                            <h4 class="weui-media-box__title">{{ file.name }}</h4>
                            <p class="weui-media-box__desc">描述：{{ file.describe }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}