{% extends 'wx/base.html' %}

{% block title %}我的成绩{% endblock %}

{% block container %}
    {% if course_list %}
        {% for course in course_list %}
            <div class="weui-cells__title">{{ course.name }}</div>
            <div class="weui-cells">
                {% for grade in grade_list %}
                    {% if grade.experiment.course == course %}
                        <a class="weui-cell weui-cell_access" href="{% url 'grade-item' grade.id %}">
                            <div class="weui-cell__bd">
                                <p>{{ grade.experiment.item.name }}</p>
                            </div>
                            <div class="weui-cell__ft">{{ grade.grade }}</div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <div class="weui-cells__title">暂无成绩</div>
    {% endif %}
{% endblock %}

{% if not course_list %}
    {% block extrascript %}
        <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.4/weui.min.js"></script>
        <script type="text/javascript">
            weui.alert('教师发布成绩后可查看', {title: '暂无成绩'});
        </script>
    {% endblock %}
{% endif %}
