{% extends 'wx/base.html' %}

{% block title %}{{ thinking.item.name }} 思考题{% endblock %}

{% block container %}
    {% if thinking %}

        <div class="weui-cells__title">题目</div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>{{ thinking.title }}</p>
                </div>
            </div>
        </div>
        {% if image %}
            <div class="weui-cells__title">附件</div>
            <div class="weui-cells weui-cells_form" id="uploader">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <div class="weui-uploader">
                            <div class="weui-uploader__bd">
                                <ul class="weui-uploader__files" id="uploaderFiles">
                                    <li class="weui-uploader__file"
                                        style="background-image:url('{{ image }}')"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="weui-msg">
            <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
            <div class="weui-msg__text-area">
                <h2 class="weui-msg__title">暂无思考题</h2>
                <p class="weui-msg__desc">获取失败！{{ experiment.item.name }} 暂无思考题</p>
            </div>
        </div>
    {% endif %}
    <!-- gallery -->
    <div class="weui-gallery" id="gallery">
        <span class="weui-gallery__img" id="galleryImg"></span>
    </div>
{% endblock %}

{% block extrascript %}
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        const $uploaderFiles = $("#uploaderFiles"),
            $gallery = $("#gallery"),
            $galleryImg = $("#galleryImg")
        ;
        // 点击预览
        $uploaderFiles.on("click", "li", function () {
            index = $(this).index();
            $galleryImg.attr("style", this.getAttribute("style"));
            $gallery.fadeIn(100);
        });
        // 点击退出预览
        $gallery.on("click", function () {
            $gallery.fadeOut(100);
        });
    </script>
{% endblock %}